.user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;

    .user-info {
      display: flex;
      align-items: center;
      gap: 20px;
      position: relative;
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
      }

      .online {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: limegreen;
        position: absolute;
        top: 0;
        left: 30px;
      }

      p {
        color: themed("textColorSoft");
      }

      .user-span {
        font-weight: 600;
        font-style: italic;
        font-weight: 500;
        color: themed("textColor");
        background-color: themed("bgSoft");
        cursor: pointer;
        padding: 6px;
        border-radius: 8px;
        border: none;
      }

      .user-span:hover{
        background-color: lightcoral;
      }
    }

    .buttons {
      display: flex;
      align-items: center;
      gap: 10px;

      button {
        color: white;
        padding: 5px;
        border: none;
        border-radius: 15px;
        cursor: pointer;

        &:first-child {
          background-color: blue;
        }
        &:first-child:hover{
          background-color: lightskyblue;
        }

        &:last-child {
          background-color: red;
        }
        &:last-child:hover{
          background-color: lightpink;
        }
      }
    }
  }